<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        {% load static %}
        <!-- meta charset -->
        <meta charset="utf-8">
        <!-- site title -->
        {% block title %}
        <title>TheAbsoluteCode</title>
        {% endblock %}
        <!-- meta description -->
        <meta name="description" content="">
        <!-- mobile viwport meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- fevicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
        {% block style %}
        <!-- ================================
        CSS Files
        ================================= -->
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/themefisher-fonts.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/dark.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <link id="color-changer" rel="stylesheet" href="{% static 'css/colors/blue.css' %}">
        {% endblock %}
        {% block extra_style %}
        {% endblock %}
    </head>

    <body class="dark">

        {% block preloader %}
        <div class="preloader">
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
            <div class="loading-mask"></div>
        </div>
        {% endblock %}

        {% block switcher %}
        <div class="preview-wrapper">
            <div class="switcher-head">
                <span>Style Switcher</span>
                <div class="switcher-trigger tf-tools"></div>
            </div>

            <div class="switcher-body">
                <h4>Choose Color:</h4>
                <ul class="color-options list-none">
                    <li class="c1" data-url="{% static 'css/colors/blue.css' %}" title="Default">Default</li>
                    <li class="c0" data-url="{% static 'css/colors/red.css' %}" title="Red">Red</li>
                    <li class="c2" data-url="{% static 'css/colors/green.css' %}" title="Green">Green</li>
                    <li class="c3" data-url="{% static 'css/colors/yellow.css' %}" title="Yellow">Yellow</li>
                </ul>
            </div>
        </div>
        {% endblock %}

        <main class="site-wrapper">
            <div class="pt-table">
                {% block container %}
                {% endblock %}
                {% block navbar %}
                    <nav class="page-nav clear">
                        <div class="container">
                            <div class="flex flex-middle space-between">
                                <span class="prev-page"></span>
                                <span class="copyright hidden-xs" style="position: fixed;
                                left: 0;
                                bottom: 0;
                                width: 100%;
                                text-align: center;">Copyright &copy; 2021 Absolute Code, All Rights Reserved.</span>
                                <span class="next-page"></span>
                            </div>
                        </div>
                        <!-- /.page-nav -->
                    </nav>
                {% endblock %}
            </div> <!-- /.pt-table -->
        </main> <!-- /.site-wrapper -->

        {% block script %}
        <!-- ================================
        JavaScript Libraries
        ================================= -->
        <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <!-- <script src="js/jquery.easing.min.js"></script> -->
        <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/jquery-validation.min.js' %}"></script>
        <script src="{% static 'js/form.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
{#        <script src="{% static 'js/custom.js' %}"></script>#}
        {% endblock %}

        {% block extra_script %}
        {% endblock %}
    </body>
</html>