.expand-letters{
    font-size: 167%;
}

.center-menu{
     display: flex;
    justify-content: center;
}

.image-preview {
    width: 100%;
    min-height: 300px;
    border: 2px solid #dddddd;

    /*Default Text*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
    text-align: center;
}

.image-preview__image {
    display: none;
    width: 100%;
}

.custom_table {
    width: auto;  !important;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 3.8%
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

input[type=range] {
    display: initial;
    width: 100%
}
