.image-container {
/* Center the image */
align-items: center;
display: flex;
justify-content: center;

/* Misc */
border: 1px solid #cbd5e0;
overflow: hidden;
width: 100%;
text-align: center;
}

.range-wrapper {
/* Center the content */
align-items: center;
display: flex;
justify-content: center;

/* Misc */
padding-top: 2rem;
}

.range-container {
/* Content is centered horizontally */
align-items: center;
display: flex;

/* Size */
height: 1.5rem;
width: 16rem;

/* Misc */
margin: 0 0.25rem;
}

.left {
/* Width based on the current value */
height: 2px;

/* Colors */
background-color: rgba(0, 0, 0, 0.3);
}

.right {
/* Take the remaining width */
flex: 1;
height: 2px;

/* Colors */
background-color: rgba(0, 0, 0, 0.3);
}

.dragme{
    position:relative;
    width: 80%;
    height: 80%;
    cursor: move;
}

.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slidecontainer {
  width: 100%;
  margin-top: 15%;
  margin-bottom: 2%;
}
.videoContainer {
    width: 100%;
    height: 100%;
}