{% extends 'base/base.html' %}
{% load static %}

{% block container %}
    <div class="pt-tablecell page-home relative" style="background-image: {% static 'img/banner.jpg' %};">
        <div class="overlay"></div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                    <div class="page-title home text-center">
                        <img width="40%" height="35%" src="{% static 'img/phantom.png' %}" alt="">
                        <p>A product designed in Colombia, which focuses on reading optical coherence tomography angiography (Angio OCT) images and fundus photographs.</p>
                    </div>

                    <div class="hexagon-menu clear">
                        <div class="hexagon-item">
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <a href="#" class="hex-content">
                                <span class="hex-content-inner">
                                    <span class="icon">
                                        <i class="tf-dial"></i>
                                    </span>
                                    <span class="title">Welcome</span>
                                </span>
                                <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                            </a>
                        </div>
                        <div class="hexagon-item">
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <a href="#" class="hex-content">
                                <span class="hex-content-inner">
                                    <span class="icon">
                                        <i class="tf-profile-male"></i>
                                    </span>
                                    <span class="title">About</span>
                                </span>
                                <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                            </a>
                        </div>
                        <div class="hexagon-item">
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div class="hex-item">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <a href="{% url 'Image Reader By Hsv:ServicesView' %}" class="hex-content">
                                <span class="hex-content-inner">
                                    <span class="icon">
                                        <i class="tf-tools-2"></i>
                                    </span>
                                    <span class="title">Services</span>
                                </span>
                                <svg viewbox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#1e2530"></path></svg>
                            </a>
                        </div>
                    </div> <!-- /.hexagon-menu -->
                </div> <!-- /.col-xs-12 -->

            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.pt-tablecell -->
{% endblock %}