{% extends 'base/base.html' %}
{% load static %}
{% block style %}
    <!-- ================================
        CSS Files
        ================================= -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/themefisher-fonts.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/dark.css' %}">
    {#    <link rel="stylesheet" href="{% static 'css/custom.css' %}">#}
    <link id="color-changer" rel="stylesheet" href="{% static 'css/colors/blue.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800"
          rel="stylesheet">
    {#    <link rel="stylesheet" href="{% static 'css/custom.css' %}">#}
            <link rel="stylesheet" href="{% static 'css/image-color-picker.css' %}">
    {#    <link rel="stylesheet" href="{% static 'css/style_slider.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/color_picker.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_cursor.css' %}">
{% endblock %}

{% block container %}
    <div class="pt-tablecell page-contact relative">
        <!-- .close -->
        <a href="{% url 'Image Reader By Hsv:ServicesView' %}" class="page-close"><i class="tf-ion-close"></i></a>
        <!-- /.close -->

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                    <div class="page-title text-center">
                        <h2>Image <span class="primary">Classification</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
            </div> <!-- /.row -->

            <div class="section-title clear" style="text-align: left;">
                <h3 id="bar_color">Image Preview on File Upload</h3>
                <span class="bar-dark"></span>
                <span class="bar-primary"></span>
            </div>

            <canvas id="canvas" class="crosshair shadow thumb max_width" height="565px" width="1130px"
                    ondblclick='getColorMouseClick(event)' onmousemove="getColorMouseMove(event)">
            </canvas>
            <div id="upload" class="shadow" style="width: 100%">
                <label for="file" style="cursor: pointer;">Upload Image</label>
                <div>
                    <span class="color"></span>
                    <p>Color Will Display Here</p>
                </div>
            </div>
            <div class="recent-colors"></div>
            <div class="notify shadow">Copied the Color Code: rgba(255, 255, 255,)</div>
            <table class="table table-dark ">
                <tr>
                    <th COLSPAN="1" class="primary" scope="row">Tag</th>
                    <th COLSPAN="2" class="primary" scope="row">Color</th>
                    <th COLSPAN="2" class="primary" scope="row">Coordinates</th>
                    <th COLSPAN="2" class="primary" scope="row">Color classification</th>
                </tr>
                <tr>
                    <!-- Tag #1 -->
                    <td COLSPAN="1" class="text-white text-left" scope="row">Hsv1</td>

                    <!-- Color #1 -->
                    {% if hsv1_color %}
                        <td COLSPAN="2" class="text-left" id="hsv1">{{ hsv1_color }}</td>
                    {% else %}
                        <td COLSPAN="2" class="text-left" id="hsv1">N/A</td>
                    {% endif %}

                    <!-- Coordinates #1 -->
                    {% if coordinate1 %}
                        <td COLSPAN="2" class="text-left" id="coordinate1">{{ coordinate1 }}</td>
                    {% else %}
                        <td COLSPAN="2" class="text-left" id="coordinate1">N/A</td>
                    {% endif %}

                    <!-- Classification #1 -->
                    {% if hsv1 %}
                        <td COLSPAN="2" class="text-left" id="show_cord_x">{{ hsv1 }}</td>
                    {% else %}
                        <td COLSPAN="2" class="text-left">N/A</td>
                    {% endif %}
                </tr>
                <tr>
                    <!-- Tag #2 -->
                    <td COLSPAN="1" class="text-white text-left" scope="row">Hsv2</td>

                    <!-- Color #2 -->
                    {% if hsv2_color %}
                        <td COLSPAN="2" class="text-left" id="hsv2">{{ hsv2_color }}</td>
                    {% else %}
                        <td COLSPAN="2" class="text-left" id="hsv2">N/A</td>
                    {% endif %}

                    <!-- Coordinates #2 -->
                    {% if coordinate2 %}
                        <td COLSPAN="2" class="text-left" id="coordinate2">{{ coordinate2 }}</td>
                    {% else %}
                        <td COLSPAN="2" class="text-left" id="coordinate2">N/A</td>
                    {% endif %}

                    <!-- Classification #2 -->
                    {% if hsv2 %}
                        <td COLSPAN="2" class="text-left" id="show_cord_x">{{ hsv2 }}</td>
                    {% else %}
                        <td COLSPAN="2" class="text-left">N/A</td>
                    {% endif %}
                </tr>

                <tr>
                    <!-- Tag #3 -->
                    <td COLSPAN="1" class="text-white text-left" scope="row">Hsv3</td>

                    <!-- Color #3 -->
                    {% if hsv3_color %}
                        <td COLSPAN="2" class="text-left" id="hsv3">{{ hsv3_color }}</td>
                    {% else %}
                        <td COLSPAN="2" class="text-left" id="hsv3">N/A</td>
                    {% endif %}

                    <!-- Coordinates #3 -->
                    {% if coordinate3 %}
                        <td COLSPAN="2" class="text-left" id="coordinate3">{{ coordinate3 }}</td>
                    {% else %}
                        <td COLSPAN="2" class="text-left" id="coordinate3">N/A</td>
                    {% endif %}

                    <!-- Classification #3 -->
                    {% if hsv3 %}
                        <td COLSPAN="2" class="text-left" id="show_cord_x">{{ hsv3 }}</td>
                    {% else %}
                        <td COLSPAN="2" class="text-left">N/A</td>
                    {% endif %}
                </tr>

                <tr>
                    <!-- Tag #4 -->
                    <td COLSPAN="1" class="text-white text-left" scope="row">Hsv4</td>

                    <!-- Color #4 -->
                    {% if hsv4_color %}
                        <td COLSPAN="2" class="text-left" id="hsv4">{{ hsv4_color }}</td>
                    {% else %}
                        <td COLSPAN="2" class="text-left" id="hsv4">N/A</td>
                    {% endif %}

                    <!-- Coordinates #4 -->
                    {% if coordinate4 %}
                        <td COLSPAN="2" class="text-left" id="coordinate4">{{ coordinate4 }}</td>
                    {% else %}
                        <td COLSPAN="2" class="text-left" id="coordinate4">N/A</td>
                    {% endif %}

                    <!-- Classification #4 -->
                    {% if hsv4 %}
                        <td COLSPAN="2" class="text-left" id="show_cord_x">{{ hsv4 }}</td>
                    {% else %}
                        <td COLSPAN="2" class="text-left">N/A</td>
                    {% endif %}
                </tr>
                <tr>
                    <!-- Classification of averaged color - Tag -->
                    <td COLSPAN="1" class="text-dark text-left" scope="row">Classification of averaged color</td>

                    <!-- Classification of averaged color - Color -->
                    <td COLSPAN="2" class="text-left"></td>

                    <!-- Classification of averaged color - Coordinate -->
                    <td COLSPAN="2" class="text-left"></td>

                    <!-- Classification of averaged color - Classification -->
                    {% if hsv_prom %}
                        <td COLSPAN="2" class="text-left" id="show_image_height">{{ hsv_prom }}</td>
                    {% else %}
                        <td COLSPAN="2" class="text-left">N/A</td>
                    {% endif %}
                </tr>
            </table>
            <form id="reader-image-form" enctype="multipart/form-data" class="row contact-form no-gutter"
                  action_url="{% url 'Image Reader By Hsv:ReaderImageView' %}" style="overflow-x: initial;"
                  method="post">
                {% csrf_token %}
                {% if image_name %}
                    <img id="img" src="{% get_media_prefix %}{{ image_name }}"
                         alt="image Preview"
                         class="hide">
                {% endif %}

                <input id="input_params" name="{{ form.hsv_parameters.name }}" type="text" class="hide">
                <input id="image_test" name="{{ form.image_test.name }}" type="text" class="hide">
                <input id="coordinate_parameter" name="{{ form.coordinate_parameter.name }}" type="text" class="hide">
                <input name="uuid" type="text" class="hide">

                <input name="image" type="file" accept="image/*" id="file" style="display: none;"
                       onchange="newImage(event)">
                {% if hsv_prom %}
                    <button class="btn btn-primary btn-lg" type="button"
                            style="width: 80%" onclick="location.reload();">
                        Classify another image
                    </button>
                {% else %}
                    <button class="btn btn-primary btn-lg" type="button" id="button_process"
                            style="width: 80%">
                        Classify
                    </button>
                {% endif %}
            </form>
        </div> <!-- /.container -->
    </div> <!-- /.pt-tablecell -->
{% endblock %}

{% block navbar %}
{% endblock %}

{% block extra_script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'js/hsl-to-rgb-to-hex.js' %}"></script>
    <script src="{% static 'js/color-contrast.js' %}"></script>
    <script src="{% static 'js/rgb-to-hsv.js' %}"></script>
    <script src="{% static 'js/color_picker.js' %}"></script>
{% endblock %}
