{% extends 'base/base.html' %}
{% load static %}

{% block container %}
    <div class="pt-tablecell page-services relative">
        <a href="{% url 'Image Reader By Hsv:HomeView' %}" class="page-close"><i class="tf-ion-close"></i></a>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-offset-1 col-lg-10">
                    <div class="page-title text-center">
                        <h2><span class="primary expand-letters">Services</span> <span class="title-bg">Services</span></h2>
                        <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica,quam nunc putamus parum claram anteposuerit.</p>
                    </div>

                    <div class="hexagon-menu services clear center-menu">
                        <div class="service-hex">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 372 424.5" style="enable-background:new 0 0 372 424.5;" xml:space="preserve">
                                <g>
                                    <polygon class="st0" points="359.9,314.1 186.9,414 14,314.1 14,114.4 186.9,14.6 359.9,114.4"/>
                                    <polygon class="st1" points="331.2,297.6 186.9,380.9 42.6,297.6 42.6,131 186.9,47.6 331.2,131"/>
                                </g>
                            </svg>

                            <div class="content">
                                <div class="icon">
                                    <i class="et-line icon-lightbulb"></i>
                                </div>
                                <h4><a href="{% url 'Image Reader By Hsv:ReaderImageView' %}"> Image <br> Classification</a></h4>
                                <p>Glaucoma risk classification, based on the Tehran-Morales color scale.</p>
                            </div>
                        </div>
                        <div class="service-hex">

                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 372 424.5" style="enable-background:new 0 0 372 424.5;" xml:space="preserve">
                                <g>
                                    <polygon class="st0" points="359.9,314.1 186.9,414 14,314.1 14,114.4 186.9,14.6 359.9,114.4"/>
                                    <polygon class="st1" points="331.2,297.6 186.9,380.9 42.6,297.6 42.6,131 186.9,47.6 331.2,131"/>
                                </g>
                            </svg>
                            <div class="content">
                                <div class="icon">
                                    <i class="et-line icon-mobile"></i>
                                </div>
                                <h4>Download <br> Report</h4>
                                <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consue.</p>
                            </div>
                        </div>
                        <div class="service-hex">

                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 372 424.5" style="enable-background:new 0 0 372 424.5;" xml:space="preserve">
                                <g>
                                    <polygon class="st0" points="359.9,314.1 186.9,414 14,314.1 14,114.4 186.9,14.6 359.9,114.4"/>
                                    <polygon class="st1" points="331.2,297.6 186.9,380.9 42.6,297.6 42.6,131 186.9,47.6 331.2,131"/>
                                </g>
                            </svg>
                            <div class="content">
                                <div class="icon">
                                    <i class="et-line icon-profile-male"></i>
                                </div>
                                <h4>Predictive <br> Model</h4>
                                <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consue.</p>
                            </div>
                        </div>
                    </div>

                </div> <!-- /.col-xs-12 -->

            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.pt-tablecell -->
{% endblock %}